<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/experiment-styles.css">
    <script>
        const exp = {{{ expstring }}}
        const res = {{{ results }}}
    </script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <button id="add-result-button" onclick="hideDiv()">New Result</button>
        <div class="add-result" id="add-result-div">
            <form id="add-result-form" action="/result" method="POST" enctype="multipart/form-data">
                <input type="file" name="upload" id="add-file" accept="image/png, image/jpg, image/jpeg" required> <br>
                <input type="text" name="conditions" id="add-condition" placeholder="First condition"> <br>
                <input type="text" name="comments" id="add-comment" placeholder="First comment"> <br>
                <input type="hidden" name="experiment" id="experiment-id" value={{expId}}>
                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="results">
            <ul>
                {{#each resultsArray}}
                    <li>
                        <img src="/result/{{this._id}}/pic" alt="no image provided">
                        {{#each this.conditions}}
                            <p>{{this.condition}}</p>
                        {{/each}}
                        {{#each this.comments}}
                            <p>{{this.comment}}</p>
                        {{/each}}
                        <button id="{{this._id}}">Delete result</button>
                    </li>
                {{/each}}
            </ul>
            
        </div>
    </div>

    {{>footer}}
    <script src="../js/experiment.js"></script>
</body>

</html>